body {
    margin: 0;
    padding: 0;
    background-color: #303952;
    font-family: "montserrat";
    color: #fffa65;
}

.names{
    text-align: center;
    display: flex;
    justify-content: center;
}

.scoreDisplay{
    text-align: center;
    display: flex;
    justify-content: center;
}

.user{
    padding-right: 85px;
}

.bot{
    padding-right: 40px;
}
.buttons{
    text-align: center;
    margin-top: 200px;
}

.playerScore{
    padding-right: 100px;
}

.compScore{
    padding-right: 40px;
}

.result,.playerScore,.compScore{
    color: #fffa65;
    font-size: 27px;
    font-family: "montserrat";
    background: none;
    
}

.result{
    text-align: center;
    margin-top: 57px;

}

.btn {
    border: 1px solid #fffa65;
    color: #fffa65;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn:hover{
    color: #4c3939;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background:#fffa65;
    z-index: -1;
    transition: 0.8s;

    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before{
    height: 180%;
}
